@font-face {
    font-family:Inter;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}
body{
    margin: 0;
    font-family: Inter;
}
.container{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    min-height: 100vh;
    align-items: center;
    
}
.card{
    background-color: hsl(0, 0%, 17%);
    padding: 40rem;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}
img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
h1{
    color: white;
    margin: 10px;
    font-size: 1.2erem;
}
h4{
    color: yellowgreen;
    margin: 5px;
}
p{
    color: hsl(0, 0%, 65%);
    font-size: 14px;
    margin: 20px 10px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;  
}
a{
    text-decoration: none;
    display: block;
    color: white;   
}
li{
    background-color: hsl(0, 0%, 25%);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}
li:hover{
    background-color: greenyellow;
    cursor: pointer;
}
li:hover a{
    color: black;
}